<div class="container">
    <div class="row">
        <h2>Engineer Form -Update Section</h2>
        <div class="col-md-6 bg-light">
            <form action="" [formGroup]="EngineerForm">
                ID <input type="text" name="id" formControlName="id" class="form-control">
                first Name <input type="text" name="firstName" formControlName="firstName" class="form-control">
                last Name <input type="text" name="lastName" formControlName="lastName" class="form-control">
                Email ID <input type="text" name="emailId" formControlName="emailId" class="form-control"><br>
                <button type="button" (click)="AddEngineer()" class="btn btn-danger">Sumbit</button>
                <br><br>

                


            </form>
        </div>
       
        <div class="container">
            <table class="table table-dark table-striped">
                <thead>
                 <tr>
                     <td>ID</td>
                     <td>First Name</td>
                     <td>Last Name</td>
                     <td>Email ID</td>
                     <td>Action</td>
                 </tr>
                </thead>
                <tbody>
                 <tr *ngFor="let a of EngineerList" >
                     <td>{{a.id}}</td>
                     <td>{{a.firstName}}</td>
                     <td>{{a.lastName}}</td>
                     <td>{{a.emailId}}</td>
                     <td><button class="btn btn-info" type="button"(click)="getEngineerbyID(a.id)">Edit</button></td>
                    
                 </tr>
                </tbody>
             </table>
        </div>
    </div>
</div>

